
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Messages: style can be found in dropdown.less-->
          <li class="dropdown messages-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <b>CONSULT SPECIALIST</b>
              <span class="label label-success">4</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">YOU HAVE 4 SPECIALIST               </li>
              <li>
                <!-- inner menu: contains the actual data -->
                <ul class="menu">
                  <li><!-- start message -->
                    <a href="#">
                      <div class="pull-left">
                        <img src="/image/abc.jpg" class="img-circle" alt="User Image">
                      </div>
                      <h4>
                        Online Health Clinic
                        <small> Online</small>
                      </h4>
                      <p>you can send message directly</p>
                    </a>
                  </li>
                  <!-- end message -->
                  <li>
                    <a href="#">
                      <div class="pull-left">
                        <img src="/image/Doctors/dr.jayenta.jpg" class="img-circle" alt="User Image">
                      </div>
                      <h4>
                        Dr. Jayant K. Sah
                        <small><i class="fa fa-clock-o"></i> 2 hours</small>
                      </h4>
                      <p>..................</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <div class="pull-left">
                        <img src="/image/Doctors/Dr.Sanjaya kumar Yadav.jpg" class="img-circle" alt="User Image">
                      </div>
                      <h4>
                        Dr. Sanjay K. Yadav
                        <small><i class="fa fa-clock-o"></i> Today</small>
                      </h4>
                      <p>...........</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <div class="pull-left">
                        <img src="/image/Doctors/dr.Madhusudan.jpeg" class="img-circle" alt="User Image">
                      </div>
                      <h4>
                        Dr. Madhusudan Kayastha
                        <small><i class="fa fa-clock-o"></i> Yesterday</small>
                      </h4>
                      <p>.................</p>
                    </a>
                  </li>
                  
                  </li>
                </ul>
              </li>
              <li class="footer"><a href="#">Go</a></li>
            </ul>
          </li>
          
          
<li class="dropdown notifications-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <b>PACKAGES</b>
              <span class="label label-warning"></span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">PACKAGES</li>
              <li>
                <!-- inner menu: contains the actual data -->
                <ul class="menu">
                  <li>
                    <a href="#">
                      <i class="fa fa-users text-aqua"></i>Upcomming soon
                    </a>
                  </li>
                </ul>
              </li>
              <li class="footer"><a href="#">No More</a></li>
            </ul>
          </li>
          
          <!-- Notifications: style can be found in dropdown.less -->
          <li class="dropdown notifications-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-bel"><b>ABOUT US</b></i>
              <span class="label label-warning"></span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">Our Team</li>
              <li>
                <!-- inner menu: contains the actual data -->
                <ul class="menu">
                  <li>
                    <a href="#">
                      <i class="fa fa-users text-aqua"></i> .........
                    </a>
                  </li>
                
                </ul>
              </li>
              <!--<li class="footer"><a href="#">Finished</a></li>-->
            </ul>
          </li>
          <!-- Tasks: style can be found in dropdown.less -->
          <li class="dropdown tasks-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <b>FAQ</b>
              <span class="label label-danger">3</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">Frequently Asked Questions</li>
              <li>
                <!-- inner menu: contains the actual data -->
                <ul class="menu">
                  <li>
                    <a href="#">
                      <h3>
                        Q. How to know if you are infected?
                      </h3>
                        <small><p style="color: blue">Ans: If you came from foreign countries or came in <br>contact with infected person and has s/a described <br>above, you may be infected.</p></small>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <h3>
                        Q. What to do if I have sing/symptom?
                      </h3>
                        <small><p style="color: blue">Ans: You should contact Doctor/ health care <br>professionals.</p></small>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <h3>
                         Q. How can online health system help us?
                      </h3>
                        <small><p style="color: blue">Ans. We have dedicated Doctors and health care <br>workers who will help you online by giving suggestions.</p></small>
                    </a>
                  </li>
                </ul>
              </li>
<!--              <li class="footer">
                <a href="#">More</a>
              </li>-->
            </ul>
          </li>
         
        </ul>
      </div>

    </nav>