<div><h2> Online Health Clinic – Care Coordinator</h2></div>
<h3 style="font-family: serif">We understand the Complexities of Managing your Wellness, hence we have a Personal
        Healthcare Advocate who is always available to help you navigate through the 
        complexities. Your HealthCare Advocate is always available to handle the details from 
        Booking Appointments to coordinating procedures, so that you don’t have to. A Personal 
        Healthcare Advocate will manage all aspects of your health experience from scheduling, 
        finding specialist and coordinating with other providers – your advocate takes care of 
        all the details for CARE OPTIMISATION.
    </h3>
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5e96b5de69e9320caac3b598/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>